* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'REM', sans-serif;
}
/* Header section  */
header {
    background-image: url(images/banner/banner1.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}
header h1 {
    font-size: 50px;
    font-weight: 700;
}
header p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #707070;
}
.header-content {
    position: relative;
    left: 845px;
    width: 400px;
    padding-top: 245px;
    direction: rtl;
}
.btn-primary {
    height: 50px;
    border-radius: 5px;
    border: 0;
    padding: 18px 35px;
    background: #FD6E0A;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 15px;
}

/* Feedback Section */
h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}
.feedback {
    margin: 150px 150px 150px 150px;
}
.feedback-division {
    display: flex;
}
.feedback-desp {
    margin:200px 60px 0 100px;
}
.feedback-desp p {
    color: #707070;
}

ul li::marker {
    content: '✓';
    color: green;
}
li {
    margin:10px 0px;
    color: #707070;
}

/* My plan section */
.my-plans h2 {
    text-align: center;
    margin-bottom: 50px;
}
.plan-container {
    display: flex;
    gap: 70px;
    margin-left: 350px;
}
.plan-item {
    text-align: center;
}
.plan-item p {
    color: #707070;
}
.plan-item h3,p{
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Micro Banner section */
.micro-banner {
    margin: 150px 150px 150px 200px;
    background-image: linear-gradient(to left, rgba(240, 91, 34, 0), rgba(240,91,34 ,1)),
    url('images/watch.png');;
    background-repeat: no-repeat;
    background-position: center;
    width: 1000px;
    border-radius: 5px;
}
.micro-content {
    padding: 50px 0 50px 50px;
}
.micro-content h2 {
    color: #FFFFFF;
}
.second {
    background: #FFFFFF;
    color: #FD6E0A;
    font-weight: bolder;
}

/* footer sction */
footer {
    background-color: black;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-area {
    display: flex;
    width: 70%;
    margin: auto;
}
.footer-area h3 {
    font-size: 30px;
    color: #FFFFFF;
}
.footer-content {
    width: 40%;
}
.footer-content a{
    text-decoration: none;
    padding-left: 5px;
}
.form {
    margin-left: 300px;
}
h4 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #FFFFFF;
}
.form input {
    margin-bottom: 10px;
    width: 220px;
    height: 45px;
    border: 2px solid #707070;
    border-radius: 5px;
    background-color: black;
    padding-left: 10px;
}
::placeholder {
    color: #FFFFFF;
}
.footer-content img {
    size: 10px;
}